/* Make Alaska font */
@font-face {
	font-display: swap;
	font-family: Alaska;
	src: url(../fonts/alaska.ttf) format("truetype")
}

:root {
	--hdr-bgc-title: #ccc;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.3;
	font-family: Alaska, Arial;
	letter-spacing: .5px;

	background-color: #eee;
}

#header, header {
	padding: 30px;
}

#header-title {
	width: max-content;
	padding: 30px 40px 20px 40px;
	border-radius: 5px;
	background-color: var(--hdr-bgc-title);
}

/* * General */
ul {
	margin-left: 20px;
	list-style-position: inside;
}
