html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
}

header {
    padding: 20px;
    text-align: justify;
    background-color: #444;
    color: white;
    font-size: 20px;
    top: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

.navul {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.navli {
    float: left;
}

.navli a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 28px;
    text-decoration: none;
}

.navli a:hover {
    background-color: #111;
}

.projects {
    padding: 30px 60px;
    color: white;
    font-size: 16px;
}

.pageheader {
    margin-left: 40px;
}

.projects a {
    color: rgb(100, 179, 255);
}

.projects li {
    font-size: 16px;
}

#aboutMeHeader {
    font-size: 1.5rem;
}

#aboutMeList {
    font-size: 1rem;
}